* {
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  background: linear-gradient(135deg, #1f2933, #111827);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  width: 400px;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

.card h1 {
  margin-bottom: 6px;
}

.card p {
  font-size: 14px;
  color: #d1d5db;
  margin-bottom: 22px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4f46e5;
}

.movies {
  margin-top: 20px;
}

.movie-card {
  background: rgba(255,255,255,0.15);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 14px;
}
